@model IEnumerable<SistemaDeConsulta.ViewModels.Pacientes.ListTipoExamesViewModel>;

@{
    ViewData["Title"] = "Lista de pacientes";
}

<div class="text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a role="button" class="btn btn-primary" asp-controller="Paciente" asp-action="Create">Adicionar novo paciente</a>
    </div>

    <br />

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }

    <br />
    <h1 class="display-5">Lista de pacientes</h1>

    <div class="table-responsive table-responsive-sm table-responsive-md">
        <table class="table table-striped">
            <thead class="text-start">
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Data de nascimento</th>
                    <th scope="col">Sexo</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">E-mail</th>
                    <th scope="col" class="text-end"></th>
                </tr>
            </thead>
            <tbody class="text-start">
                @if (Model != null && Model.Any())
                {
                    @foreach (var m in Model)
                    {
                        <tr>
                            <td>@m.Nome</td>
                            <td>@m.CPF</td>
                            <td>@m.DataNascimento.ToString("dd/MM/yyyy")</td>
                            <td>@m.Sexo</td>
                            <td>@m.Telefone</td>
                            <td>@m.Email</td>
                            <td class="text-end">
                                <div class="btn-group" role="group" aria-label="Ações">
                                    <a role="button" class="btn btn-outline-secondary" asp-controller="Paciente" asp-action="Edit" asp-route-id="@m.Id">Editar</a>
                                    <a role="button" type="button" class="btn btn-outline-danger" asp-controller="Paciente" asp-action="DeleteConfirm" asp-route-id="@m.Id">Excluir</a>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr class="odd"><td valign="top" colspan="7">Nenhum paciente encontrado.</td></tr>
                }

            </tbody>
        </table>
    </div>
    
    
</div>
