@model IEnumerable<SistemaDeConsulta.ViewModels.Consultas.ListConsultaViewModel>
@{
    ViewData["Title"] = "Lista de consultas";
}

<div class="text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a role="button" class="btn btn-primary" asp-controller="Consulta" asp-action="Create">Adicionar nova consulta</a>
    </div>

    <br />

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }

    <br />
    <h1 class="display-5">Lista de consultas</h1>

    <div class="table-responsive table-responsive-sm table-responsive-md">
        <table class="table table-striped">
            <thead class="text-start">
                <tr>
                    <th scope="col">Paciente</th>
                    <th scope="col">Exame</th>
                    <th scope="col">Data / Hora</th>
                    <th scope="col">Número de protocolo</th>
                </tr>
            </thead>
            <tbody class="text-start">
                @if (Model != null && Model.Any())
                {
                    @foreach (var consulta in Model)
                    {
                        <tr>
                            <td>@consulta.PacienteNome</td>
                            <td>@consulta.ExameNome</td>
                            <td>@consulta.DataHora</td>
                            <td>@consulta.NumeroProtocolo</td>
                        </tr>
                    }
                }
                else
                {
                    <tr class="odd"><td valign="top" colspan="4">Nenhuma consulta encontrado.</td></tr>
                }

            </tbody>
        </table>
    </div>
</div>
